.box1, .box2 {
    width: 300px;
    height: 200px;
    border: 1px solid black;
}

.box1 {
    background-color: palevioletred;
}

.box2 {
    background-color: darkgreen;
}

.small1, .small2, .small3, .small4 {
    width: 50px;
    height: 50px;
    color: white;
    border: 1px solid black;
    text-align: center;
}

.small1 {
    background-color: darkblue;
}

.small2 {
    background-color: purple;
}

.small3 {
    background-color: darkkhaki;
}

.small4 {
    background-color: orange;
}
