body{

    background-color: black;
}

#main{

    color: white;
    text-decoration: underline;
    text-align: center;
}

#second{

    color: yellow;
    
}

/* success - green */
/* danger - red */
/* primary - blue */
/* warning - yellow */

.success{

    color: green;

}

.primary{

    color: blue;
}

