.border{

    border: 1px black solid;
}

.parent{

    width: 350px;
    height: 200px;
    background-color: rgb(243, 243, 157);
    margin-left: auto;
    margin-right: auto;
}

.child{

    width: 150px;
    height: 150px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.parent >:nth-child(1){

    background-color: aqua;
}

.parent >:nth-child(2){

    background-color: blueviolet;
}

